services:
  adminer:
    networks:
      - adminer_net
      - lan
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.adminer-http.rule=Host(`${ADMINER_DOMAIN}`)"
      - "traefik.http.routers.adminer-http.entrypoints=web"
      - "traefik.http.routers.adminer-http.middlewares=redirect-https"
      - "traefik.http.routers.adminer.rule=Host(`${ADMINER_DOMAIN}`)"
      - "traefik.http.routers.adminer.entrypoints=https"
      - "traefik.http.routers.adminer.tls=true"
      - "traefik.http.services.adminer.loadbalancer.server.port=8080"

networks:
  lan:
    external: true

